<%- include("templates/cabecera.ejs")%>
<link rel="stylesheet" href="css/estilo.css">
<div class="container">
    <div class="shadow-lg pb-3 mb-5 bg-body rounded mt-4 bg-white">
        <br>
        <h2 class="ml-3 text-primary">Datos de Editorial</h2>
        <br>
        <form action="/insertareditorial" method="post">
            <div class="row">
                <div class="col-md-2 ml-3">
                    <label for="codigo" class="form-label" >IdEditorial:</label>
                    <input type="text" name="codi" id="codi" class="form-control" required>
                </div>
                <div class="col-md-2 ml-3">
                    <label for="codigo" class="form-label" >Editorial:</label>
                    <input type="text" name="edit" id="edit" class="form-control" required>
                </div>
                
            </div><button type="submit" class="btn btn-primary ml-3 mt-4">Registrar Editorial</button>
        </form>
    </div>
    <table class="table table-hover mt-4">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th>idEditorial</th>
                <th>Editorial</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center bg-white">
            <% editoriales.forEach((editorial) =>{ %>
            <tr>
                <td style="display: none;"><%= editorial._id%></td>
                <td><%= editorial.idEditorial%></td>
                <td><%= editorial.editorial%></td>
                <td>
                    <a type="button" class="btnEditare btn btn-success">Editar</a>
                    <a href="/eliminareditorial/<%=editorial._id%>" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<!-- The Modal -->
<div class="modal fade" id="modalEditorial">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header bg-primary text-white">
          <h2 class="modal-title ">Editar Editorial</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/editareditorial" method="post">
            <input type="text" id="e_id" name="e_id" class="form-control" hidden>
            <div class="mb-3">
                <label for="codigo" class="form-label" >IdEditorial:</label>
                <input type="text" name="e_edi" id="e_edi" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="codigo" class="form-label" >Editorial:</label>
                <input type="text" name="e_edit" id="e_edit" class="form-control" required>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<script src="js/editorial.js"></script>
